@import './base.css';

#app {
  max-width: 1280px;
  margin: 2rem auto;
  padding: 2rem;
  font-weight: normal;
  height: 100vh;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

body {
  display: flex;
  place-items: center;
}

h1,h2 {
  font-weight: 500;
  font-family: AudioWide, serif;
}

h1 {
  font-size: 2.6rem;
  line-height: 2.8rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 300;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

.logo {
  padding: 3px;
  height: 75px;
  width: 75px;
}

